@font-face {
    font-family: 'po';
    src: url('/sources/font/GeneralSans-Variable.ttf') format('truetype'); /* Add format */
    font-weight: normal;
    font-style: normal;
}

html {

    font-family: 'po' !important; /* Utilisez la police téléchargée */
    background-color: #fff;
    color: #000;



}


body {

}

.navbar {
    background-color: transparent; /* Navbar invisible */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-link {
    color: #000;
    font-size: 1.2rem;
}

#mainTitle {
    font-size: 5rem; /* Taille du texte "Escapism" */
    opacity: 0; /* Commence invisible */
}

.first {
    padding-top: 80px; /* Adjust this value according to the height of your header */
}





